// app global css in SCSS form

@import "vue-select/src/scss/vue-select.scss";

#vs1__combobox{
    height: 50px;
    border-radius: 7px;
}
.vs__actions{
    display: none;
}
.my-card{
    width: 100%;
    max-width: 250px;
}
#img-header{
    margin-top:-300px;
    margin-left:20%;
    width: 50%;
}
.vs__search{
    color: grey;
}

.q-table th {
    /* don't shorten cell contents */
    //white-space: nowrap !important;
    width: 110px !important;
}