// app global css in SCSS form

@import "vue-select/src/scss/vue-select.scss";

#vs1__combobox{
    height: 50px;
    border-radius: 10px;
}
.vs__actions{
    display: none;
}
.my-card{
    width: 100%;
    max-width: 250px;
}
#img-header{
    margin-top:-200px;
    margin-left:15%;
    width: 60%;
}
.vs__search{
    color: grey;
}